.calls
    margin-top: 50px
    width: 100%

    &__header
        display: flex
        justify-content: space-between
        font-size: 20px
        border-bottom: 1px solid #adadad
        &__title

        &__duration

    &__list
        text-align: start